version: '3'
services:
  directus:
    image: directus/directus:10.10.4
    ports:
      - 8055:8055
    volumes:
      - "./data.db:/directus/data.db"
      - "./dist:/directus/extensions/directus-extension-increment"
    environment:
      KEY: '[UUID]'
      SECRET: '[UUID]'
      LOG_LEVEL: 'debug'

      DB_CLIENT: 'sqlite3'
      DB_FILENAME: './data.db'

      EXTENSIONS_AUTO_RELOAD: 'true'

      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'd1r3ctu5'

      CORS_ENABLED: 'true'
      CORS_ORIGIN: '*'